[submodule "vim/pack/my-plugins/start/auto-pairs"]
	path = vim/pack/my-plugins/start/auto-pairs
	url = git://github.com/jiangmiao/auto-pairs.git
[submodule "vim/pack/my-plugins/start/commentary"]
	path = vim/pack/my-plugins/start/commentary
	url = https://tpope.io/vim/commentary.git
[submodule "vim/pack/my-plugins/start/repeat"]
	path = vim/pack/my-plugins/start/repeat
	url = https://tpope.io/vim/repeat.git
[submodule "vim/pack/my-plugins/opt/vimtex"]
	path = vim/pack/my-plugins/opt/vimtex
	url = https://github.com/lervag/vimtex.git
[submodule "vim/pack/my-plugins/start/surround"]
	path = vim/pack/my-plugins/start/surround
	url = https://github.com/tpope/vim-surround.git
